 <footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=61565686854149" target="_blank"><i class="fa-brands fa-square-facebook" style="color: #0077B5;"></i></a>
            <a href="https://www.instagram.com/lodgrglobal/" target="_blank"><i class="fa-brands fa-square-instagram" style="color: #E4405F;"></i></a>
            <a href="https://x.com/LodgrL" target="_blank"><i class="fa-brands fa-x-twitter" style="color: #1DA1F2;"></i></a>
            <a href="https://www.linkedin.com/in/lodgr-private-limited/" target="_blank"> <i class="fa-brands fa-linkedin" style="color: #1877F2;"></i></a>
        </div>
        <div class="f-info-brand">&copy;Lodgr Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
 </footer>


 